@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    margin:0;
    padding: 0;
}

body{
    background-color: #fcebf7;
}

p{
    font-family: "Newsreader";
}

.topnav{
    display: flex;
    position: relative;
    color:palevioletred;
    background-color: white;
    font-family: "Roboto Mono";
    box-shadow: 0px 8px 20px 10px rgba(0,0,0,.2);
}


.topnav .logo{
    position: relative;
    cursor: pointer;
    flex:1;
    padding: 35px;
    margin-bottom: 15px;
    margin-top: 3px;
}

.topnav .logo img{
    top: -95px;
    position: absolute;
    height: 250px;
    width: 225px;
    left: 50px;
}

.topnav a{
    padding: 25px;
    text-decoration: none;
    color: palevioletred;
    cursor: pointer;
}

.navbar:hover{
    color: white;
    background-color:palevioletred;
}

.photos{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: 15px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.items{
    justify-self: center;
    border-radius: 10px;
    box-shadow: 3px 5px 4px lightslategrey;
    cursor: pointer;
    opacity: 85%;
    border-width: 10px 8px 30px 8px;
    border-color: white;
    border-style: solid;

    
}
.items:hover{
    transform: scale(1.1);
    opacity: 100%;
}
.photos .items {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}



.photos .items img{
    width: 100%;
    height: 100%;
    animation: ani 3.5s forwards;
    border-radius: 10px;
    
}

@keyframes ani {
    0%{opacity: 0;}
    100%{opacity: 1;}
}



.content{
    position: relative;
    display: flex;
    align-items: center;
}

.content .description{
    position: relative;
    max-width: 45%;
    padding-left: 50px;
}

.content .description h2{
    padding-bottom: 50px;
    color: #ff8080;
    font-family: "Roboto Mono";
    padding-bottom: 35px;
    font-size: 30px;
}

.content .description p{
    font-size: 35px;
}

.content svg{
    width: 55%;
    height: 30%;
    order: 2;
}

#hearts{
    animation: heart 1.9s infinite ease alternate;
    animation-name: heart;
}

@keyframes heart{
    0%{ 
    transform: translateY(0px);
    }
    100%{
        transform: translateY(30px);
    }
}



footer {
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 20%;
    background-color: #ff8080;
    padding: 15px 0  ;
  }


/*Contact page design */ 


#topcontent{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

}


#topcontent svg{
    height: 400px;
    
}

#right_cloud,
#left_cloud,
#middle_cloud,
#shadows{
    animation: slidein 5s ease-in infinite alternate;
}


#phonecircle,
#mailcircle,
#arrowcircle{
    transform-origin: center;
    transform-style: preserve-3d;
    animation: animate 8s infinite linear alternate;
}

@keyframes slidein{
    from{
       transform: translateX(0) ;
    }
    to{
        transform: translateX(-120px);
    }
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateX(0deg);
    }
    50%{
        transform: perspective(1000px) rotateX(30deg);
    }
    100% {
        transform: perspective(1000px) rotateX(-20deg);
    }
}


.social{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px grey solid;
    transition: transform .2s;
}

#fbchris{
    background-image: url(../images/fb.png);
    background-size: contain;
    margin-right: 15px;
}

#fbchris:hover{
    background-image: url(../images/babe.jpg);
    transform: scale(1.5);
    border-color: purple;
}

#mailchris{
    background-image: url(../images/mail.png);
    background-size: contain;
    margin-right: 15px;
}

#mailchris:hover{
    background-image: url(../images/kfc.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center bottom;
    transform: scale(1.5);
    border-color: purple;
}

#insta{
    background-image: url(../images/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
}

#insta:hover{
    background-image: url(../images/tati.jpg);
    background-size:cover;
    transform: scale(1.5);
    border-color: purple;
}

.presentation{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 5%;
}

.presentation img{
    height: 380px;
    width:340px;
}

.info{
    box-shadow: 5px 10px 5px grey;
    border-radius: 3%;
}

#chris,
#tati{
    justify-self: center;
    position: relative;
    cursor: pointer;
    
}

.overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    width: 99%;
    transition: .5s ease;
    font-size: 20px;
    padding: 2px;
    text-align: center;
    top: 320px;
    opacity: 0;
}

#chris:hover .overlay,
#tati:hover .overlay{
    opacity: 1;
    font-weight: 400;
}

#chris:hover,
#tati:hover{
    transform: scale(1.2);
}

.contactTitle{
    margin-top: 50px;
    text-align: center;
    font-family: "Satisfy";
    font-size: 60px;
    font-weight: 600px;
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 6%, rgba(37,2,143,1) 39%, rgba(136,5,205,1) 89%, rgba(204,142,237,1) 100%, rgba(176,69,233,1) 160%);
    background-size: 75%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.contactTitle:hover{
    transform: scale(1.2);
}

#instructions{
    text-align: center;
    font-size: 30px;
    font-family: "Newsreader";
    font-weight: 600;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 6%, rgba(37,2,143,1) 39%, rgba(136,5,205,1) 89%, rgba(204,142,237,1) 100%, rgba(176,69,233,1) 160%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}